node_modules/
.env
data/
uploads/avatars/*
uploads/files/*
uploads/images/*
!uploads/avatars/.gitkeep
!uploads/files/.gitkeep
!uploads/images/.gitkeep
*.log
.DS_Store
coverage/
dist/

.vercel
server_out*.txt
server_err*.txt
token.txt
